<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application
    android:allowBackup="true"
    android:fullBackupOnly="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".OwOApplication"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.OwOUploader">
    <activity android:name=".activity.LoginActivity" />
    <activity
      android:exported="true"
      android:name=".activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:exported="false"
      android:name=".activity.SettingsActivity" />

    <meta-data
      android:name="io.sentry.auto-init"
      android:value="false" />

    <service
      android:foregroundServiceType="mediaProjection"
      android:name=".service.ScreenCaptureService" />
  </application>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>